<form action="/result" method="POST">
Valitse genre:
<p>
<input type="radio" name="genre" value="Jännitys"> Jännitys
<input type="radio" name="genre" value="Romaanit"> Romaanit
<input type="radio" name="genre" value="Kauhu"> Kauhu
<input type="radio" name="genre" value="Romantiikka"> Romantiikka
<input type="radio" name="genre" value="Tieteiskirjallisuus"> Tieteiskirjallisuus
<p>
Valitse formaatti:
<p>
<input type="checkbox" name="formaatti" value="Kirja"> Kirja
<input type="checkbox" name="formaatti" value="E-kirja"> E-kirja
<input type="checkbox" name="formaatti" value="Äänikirja"> Äänikirja
<p>		
Kirjan nimi: <br>		
<textarea name="message1" rows="1" cols="50"></textarea>
<p>			
Osoitteesi: <br>
<textarea name="message2" rows="2" cols="50"></textarea>
<input type="submit" value="Hae">
</form>
